.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/* Search Section */
.search-section {
  padding-top: 36px;
}
.form {
  text-align: center;
}
.input {
  height: 40px;
  width: 272px;
  border-radius: 4px;
  border: 1px solid #808080;
  padding: 8px 16px;
  font-size: 16px;
  outline: none;
}
.input:hover {
  border-color: black;
}
.input:focus {
  border-color: #4e75ff;
}
.search-btn {
  margin-left: 4px;
}
.btn {
  display: inline-block;
  color: white;
  background-color: #4e75ff;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  font-size: 16px;
  transition: 100ms linear;
}
.btn:hover,
.btn:focus {
  background-color: #6c8cff;
}
/* /Search Section */

/* Search Results Section */
.search-results-section {
  text-align: center;
  padding-top: 32px;
  padding-bottom: 36px;
}
.loader {
  width: 48px;
  height: 48px;
  border: 5px solid;
  border-color: #ff3d00 transparent;
  border-radius: 50%;
  display: none; /* gotta be block */
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  margin: 0 auto;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.results-list {
  list-style: none;
  max-width: 1550px;
  margin: 0 auto;
  margin-bottom: 32px;
  padding: 0 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.results-item {
  min-width: 400px;
  width: calc((100% - 40px) / 3);
  border: 1px solid black;
  border-radius: 8px;
  overflow: hidden;
}
.card-link {
  display: block;
}
.card-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.image-description-table {
  width: 100%;
  height: 50px;
  text-align: center;
  border-collapse: collapse;
}
.description-row:last-child .description-column {
  padding-bottom: 5px;
}
.load-more {
  display: none;
}
/* /Search Results Section */
